body {
	font-family: Arial, sans-serif;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

h1 {
	font-size: 50px;
}

h2 {
	background-color: #334e1f; 
	color: #DDD;
	font-size: 33px;

	/* padding: 10px; */
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 5px;
}

.experiencia {
	text-indent: 30px;
}


